<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>蓝色视点</title>
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="../public/components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<header>
    <div id="logo"><img src="../public/image/logo.png" alt="logo图片"></div>
    <nav>
        <ul>
            <li><a href="javascript:void(0)">首页</a></li>
            <li><a href="javascript:void(0)">赛事</a></li>
            <li><a href="javascript:void(0)">新闻</a></li>
            <li><a href="javascript:void(0)">案例</a></li>
            <li><a href="javascript:void(0)">服务</a></li>
            <li><a href="javascript:void(0)">我们</a></li>
        </ul>
    </nav>
</header>
<script src="../public/components/jquery/dist/jquery.min.js"></script>
<script src="../public/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript"></script>
</body>
</html>