<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="style/news.css" type="text/css">
    <link rel="stylesheet" href="../public/components/font-awesome-4.7.0/css/font-awesome.min.css">



</head>
<body>
<!--导航栏开始-->
<div id="header">
    <div class="container">
        <div id="logo" class="pull-left">
            <a href=""><img src="../public/image/logo.png" alt="logo图片"/></a></div>
        <nav class="pull-left">
            <ul>
                <li><a href="javascript:void(0)">首页</a></li>
                <li><a href="javascript:void(0)">赛事</a></li>
                <li><a href="javascript:void(0)">新闻</a></li>
                <li><a href="javascript:void(0)">案例</a></li>
                <li><a href="javascript:void(0)">服务</a></li>
                <li><a href="javascript:void(0)">我们</a></li>
            </ul>
        </nav>
        <div id="nav-bar" class="nav-bar pull-right text-center">
            <span class="spinner spinner1"></span>
            <span class="spinner spinner2"></span>
            <span class="spinner spinner3"></span>
        </div>
        <div id="number" class="pull-right">
            <img src="../public/image/number.png"/></div>
    </div>
    <div id="hide_nav">
        <ul>
            <li><a href="javascript:void(0)">首页</a></li>
            <li><a href="javascript:void(0)">赛事</a></li>
            <li><a href="javascript:void(0)">新闻</a></li>
            <li><a href="javascript:void(0)">案例</a></li>
            <li><a href="javascript:void(0)">服务</a></li>
            <li><a href="javascript:void(0)">我们</a></li>
        </ul>
    </div>
</div>

<!--导航栏结束-->
<div class="container">
    <article>
        <!--第一行内容开始-->
        <div class="item">
            <div class="item-light">
               <div class="img-div"></div>
                <img src="../public/image/list-01.jpg"/>
                <div class="hadden">
                    <div>
                    <h3>2017-02-16</h3>
                    <i class="fa fa-plus fa-2x"></i>
                    </div>
                </div>
               <div class="itemt-time">
                  <div class="item-time">
                     <strong>16</strong>
                     <br>
                     2017-02
                  </div>
               </div>
            </div>
            <div class="right-list">
                <div class="art">
                    <h4>2017年华表国际青少年钢琴公开赛</h4>
                    <p>&nbsp;2017年华表国际青少年钢琴公开赛&nbsp;&nbsp;
                        华表国际艺术文化交流协会由：国内外知名艺术家组成的团体艺术家来自英国皇家音乐学院、波兰肖邦音乐大学、中央音乐学院、中国音乐学院等国际知名院校的教授和...</p>
                    <a href="">MORE+</a>
                </div>
            </div>
        </div>
        <!--&lt;!&ndash;第一行内容结束&ndash;&gt;-->
        <!--第一行内容开始-->
        <div class="item">
            <div class="item-light">
                <div class="img-div"></div>
                <img src="../public/image/list-01.jpg"/>
                <div class="hadden">
                    <div>
                        <h3>2017-02-16</h3>
                        <i class="fa fa-plus fa-2x"></i>
                    </div>
                </div>
                <div class="itemt-time">
                    <div class="item-time">
                        <strong>16</strong>
                        <br>
                        2017-02
                    </div>
                </div>
            </div>
            <div class="right-list">
                <div class="art">
                    <h4>2017年华表国际青少年钢琴公开赛</h4>
                    <p>&nbsp;2017年华表国际青少年钢琴公开赛&nbsp;&nbsp;
                        华表国际艺术文化交流协会由：国内外知名艺术家组成的团体艺术家来自英国皇家音乐学院、波兰肖邦音乐大学、中央音乐学院、中国音乐学院等国际知名院校的教授和...</p>
                    <a href="">MORE+</a>
                </div>
            </div>
        </div>
        <!--&lt;!&ndash;第一行内容结束&ndash;&gt;-->
        <!--第一行内容开始-->
        <div class="item">
            <div class="item-light">
                <div class="img-div"></div>
                <img src="../public/image/list-01.jpg"/>
                <div class="hadden">
                    <div>
                        <h3>2017-02-16</h3>
                        <i class="fa fa-plus fa-2x"></i>
                    </div>
                </div>
                <div class="itemt-time">
                    <div class="item-time">
                        <strong>16</strong>
                        <br>
                        2017-02
                    </div>
                </div>
            </div>
            <div class="right-list">
                <div class="art">
                    <h4>2017年华表国际青少年钢琴公开赛</h4>
                    <p>&nbsp;2017年华表国际青少年钢琴公开赛&nbsp;&nbsp;
                        华表国际艺术文化交流协会由：国内外知名艺术家组成的团体艺术家来自英国皇家音乐学院、波兰肖邦音乐大学、中央音乐学院、中国音乐学院等国际知名院校的教授和...</p>
                    <a href="">MORE+</a>
                </div>
            </div>
        </div>
        <!--&lt;!&ndash;第一行内容结束&ndash;&gt;-->
        <div class="Page">
            <a href="" class="first-page">1</a>
            <span>第一页</span>
        </div>
    </article>
</div>
<footer class="hidden1">
    <div class="connection">
        <ul class="footer-share">
            <li >
                    <span class="fa-stack fa-lg lsp">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-weixin fa-stack-1x fa-inverse"></i>
                    </span>
                <br>
                <span style="font-size: 12px">企业公众微信平台</span>
            </li>
            <li>
                    <span class="fa-stack fa-lg lsp">
                   <i class="fa fa-circle fa-stack-2x"></i>
                   <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                    </span>
                <br>
                <span style="font-size: 12px">公司微博</span>
            </li>
        </ul>
        <img src="../public/image/call-me.png"/></div>
    <div class="to-top">
        <img src="../public/image/to-top.png" />
        <h4>北京蓝色视点文化传播有限公司</h4>
        <hr>
        <p>CopyRight ? 2016  All Rights Reserved.</p>
        <p>技术支持：HELPEUP</p>
    </div>
</footer>
<footer class="foot">
    <section>
        <div class="foot-top">
            <h5>北京蓝色视点文化传播有限公司</h5>
            <ul class="foot-massage">
                <li>手机：15901500298</li>
                <li>座机：010-53602697</li>
                <li>邮箱：helen0298@163.com</li>
                <li>北京市朝阳区望京西园222号星源国际B座2001</li>
            </ul>
            <ul class="footer-share">
                <li><img src="../public/image/foot-number.png"></li>
                <li >
                    <span class="fa-stack fa-lg lsp">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-weixin fa-stack-1x fa-inverse"></i>
                    </span>
                    <br>
                    <span style="font-size: 12px">企业公众微信平台</span>
                </li>
                <li>
                    <span class="fa-stack fa-lg lsp">
                   <i class="fa fa-circle fa-stack-2x"></i>
                   <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                    </span>
                    <br>
                    <span style="font-size: 12px">公司微博</span>
                </li>
            </ul>
        </div>
        <div class="footer-des">
            <p class="copyright">CopyRight ? 2016 北京蓝色视点文化传播有限公司 All Rights Reserved.</p>
            <p>技术支持：四川助企尚品信息技术有限公司</p>
        </div>
    </section>
    <hr>
</footer>
<script src="../public/components/jquery/dist/jquery.js"></script>
<script src="js/nav.js"></script>
</body>
</html>