<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务</title>
    <link rel="stylesheet" href="../public/components/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style/service.css">


</head>
<body>
<div id="header">
    <div class="container">
        <div id="logo" class="pull-left">
            <a href=""><img src="../public/image/logo.png" alt="logo图片"></a></div>
        <nav class="pull-left">
            <ul>
                <li><a href="javascript:void(0)">首页</a></li>
                <li><a href="javascript:void(0)">赛事</a></li>
                <li><a href="javascript:void(0)">新闻</a></li>
                <li><a href="javascript:void(0)">案例</a></li>
                <li><a href="javascript:void(0)">服务</a></li>
                <li><a href="javascript:void(0)">我们</a></li>
            </ul>
        </nav>
        <div id="nav-bar" class="nav-bar pull-right text-center">
            <span class="spinner spinner1"></span>
            <span class="spinner spinner2"></span>
            <span class="spinner spinner3"></span>
        </div>
        <div id="number" class="pull-right"><img src="../public/image/number.png" alt="联系方式图片"></div>
    </div>
    <div id="hide_nav">
        <ul>
            <li><a href="javascript:void(0)">首页</a></li>
            <li><a href="javascript:void(0)">赛事</a></li>
            <li><a href="javascript:void(0)">新闻</a></li>
            <li><a href="javascript:void(0)">案例</a></li>
            <li><a href="javascript:void(0)">服务</a></li>
            <li><a href="javascript:void(0)">我们</a></li>
        </ul>
    </div>
</div>
<div class="image">
    <img src="../public/image/team-header.jpg" alt="">
</div>
<div class="crumbs-nav">
    <p>当前位置：首页><a href="#" style="color: #00a0e9">服务</a></p>
</div>
<div class="content">
<h1>服务体系说明:<br>
    <span style="color: #919191;">SERVICE SYSTEN DESCRIPTION</span>
    </h1>
    <p> &nbsp; &nbsp; &nbsp; &nbsp;会议活动  :承办研讨会、发布会、国际会议、颁奖会、企业年会、宴会等活动，根据主办公司的活动目的去策划整个流程，
        包括场地的预定、会场的设计与布置、主持礼仪、摄影摄像、节目编排等。
    </p>
    <p> &nbsp; &nbsp; &nbsp; &nbsp;新闻发布 /新品发布/媒体发布会:根据客户的需求，做精准的定位。安排最合适的场地：
        选择的场地要跟发布会的主题达到最佳的匹配度，同时考虑到交通的便利性及活动整体实施的便利性。做好时机的选择：确认召开新品发布会时，
        要选择恰当的召开时机，避开本地的重大活动，避开其他单位的发布会，还要避开与新闻界的宣传报道重点相左或撞车，同时也要避开节日假日。
        时机的选择是企业新品发布会取得成功的关键要素。职员的按排（包括主持人、礼仪、参与演出的人员安排等）、媒体的邀请、会场的布置和材料预备等系列安排一直到活动的圆满结束。
    </p>


    <p>
        &nbsp; &nbsp; &nbsp; &nbsp;派对活动:举办各种私人订制的派对活动，包括生日派对、成人礼、纪念日派对、公益活动派对、别墅派对等各种派对活动
    </p>
    <div class="image-4">
        <div class="image-1">
            <img src="../public/image/img1.png" alt="">
        </div>
        <div class="image-1">
            <img src="../public/image/img2.png" alt="">
        </div>
        <div class="image-1">
            <img src="../public/image/img3.png" alt="">
        </div>
        <div class="image-1">
            <img src="../public/image/img4.png" alt="">
        </div>
    </div>



</div>
<div id="footer" >
    <div class="foot">
        <p class="company">北京蓝色视点文化传播有限公司</p>
        <p class="dz"><span>手机：15901500298</span><span>座机：010-53602697</span><span>邮箱：helen0298@163.com</span>
            <span>北京市朝阳区望京西园222号星源国际B座2001</span></p>
        <div class="contact">
            <img src="../public/image/foot-number.png" align="联系号码"/>
            <a href="#" class="weiXin text-center">
                <span class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-wechat fa-stack-1x fa-inverse"></i>
                </span>
                <p>企业公众微信平台</p>

            </a>
            <a href="#" class="weiBo text-center">
                <span class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                </span>
                <p>公司微博</p>
            </a>
        </div>
    </div>
    <div class="bottom">
        <p>CopyRight ? 2016 北京蓝色视点文化传播有限公司 All Rights Reserved. 技术支持：四川助企尚品信息技术有限公司</p>
    </div>
</div>
<div id="foot_mobile">
    <div>
        <a href="#" class="weiXin text-center">
                <span class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-wechat fa-stack-1x fa-inverse"></i>
                </span>
            <p>企业公众微信平台</p>

        </a>
        <a href="#" class="weiBo text-center">
                <span class="fa-stack fa-3x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                </span>
            <p>公司微博</p>
        </a>
    </div>
    <p class="contact"> <img src="../public/image/call-me.png" /></p>
    <div class="message">
        <div id="toTop">
            <img src="../public/image/to-top.png" />
        </div>
        <h4>北京蓝色视点文化传播有限公司</h4>
        <p>CopyRight ? 2016  All Rights Reserved.</p>
        <p>技术支持：HELPEUP</p>
    </div>

</div>
<script src="../public/components/jquery/dist/jquery.js"></script>
<script src="./js/nav.js"></script>


</body>
</html>