<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./service.css">
</head>
<body>
<div class="title">
    <div class="logo">
        <img id=logo src="./image/logo.png" alt="">

    </div>
    <div class="tel">
        <img id="tel" src="./image/number.png" alt="">
    </div>
    <div class="menu"><ul>
        <li>首页</li>
        <li>赛事</li>
        <li>新闻</li>
        <li>案例</li>
        <li>服务</li>
        <li>我们</li>

    </ul>


    </div>



    
    
</div>
<div class="image">
    <img src="./image/team-header.jpg" alt="">
</div>
<div class=""></div>

</body>
</html>