li{
    list-style: none;
}
a{
    text-decoration: none;
}
#logo{
    width:187px;
    height: 76px;
}
#number{
    width: 290px;
    height:90px;
}
nav ul li{
    float: left;
    line-height: 90px;
    padding: 0 2.7em;
}
nav ul li a{
    color: #1f1f1f;
}
nav ul li a:hover{
    color: #00a0e9;
    text-decoration: none;
}
.carousel-indicators li{
    background: #fff ;
    border: 0;
}
.carousel-indicators .active{
    background: #ffa304;
}